* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      
}

.bannerTop {
    width: 100%;
    height: 75px;

    background-image: url("/assets/img/banner.png");
    color: white;

    display: flex;
    align-items: center;

    .logo {


        float: inline-start;
        width: min-content;
        height: fit-content;
        margin-left: 10%;
        font-size: 270%;


        font-weight: 900;
    }


    .inicio {
        float: inline-end;
        margin-top: 0.8%;
        margin-left: 25%;
        display: flex;


        

        .pass {

            margin-left: 10px;

            .olvidado {
                font-size: smaller;
                color: #61a0d8;
            }

        }

        label {
            display: block;
            font-size: smaller;
            margin-bottom: 0px;
        }

        input {
           
            width: 70%;
            height: 35%;
        }


    }

    .entrar{
       
        height: min-content;
        
        align-self: center;
        background-color: #4267b2;
        color: white;
        font-weight: 700;
        border: 1px solid #29487d;
    }

}

.body{
    height: 1000px;
    width: 100%;
    background-color: white;
    .panelLeft{
        float: left;
       
      
        .contenido{
            margin: 2%;
            float: right;
            width: min-content;
            

            p{
                color:#0e385f;
                font-size: 130%;
                font-weight: 600;
            }
            
        }
    }
    .panelRight{
        float: right;
        width: 50%;
        height: 100%;
        padding: 5%;
       

        .form{

            h1, h4{
                font-weight: 900;
                background-color: gold;
            }

            .nombres{
                display: flex;
                align-content: space-around;
            }
        }

    }
}
.footer{
    height: 200px;
    width: 100%;
    background-color: red;
}

//  sass --watch style.scss:style.css 